html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Light';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
    font-family: 'Libre Light';
    src: local('Lato'),
      url('../assets/fonts/Libre_Franklin/static/LibreFranklin-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Hagrid Light';
    src: local('Lato'),
      url('../assets/fonts/hagrid-light.ttf') format('truetype');
}


@font-face {
    font-family: 'Neue Machina';
    src: local('Lato'),
      url('../assets/fonts/NeueMachina-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Open Sauce';
    src: local('Lato'),
      url('../assets/fonts/OpenSauceOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gatwick Bold';
    src: local('Lato'),
      url('../assets/fonts/Gatwick-Bold.otf') format('truetype');
}